:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 2vh;

  .demos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    width: 100%;
    padding: 15px 0;

    &__card {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 6vh;
      font-size: 16px;
      font-weight: 500;
      border: 0.5px solid lightgrey;
      border-radius: 6px;
      cursor: pointer;
    }

    &__card:only-child {
      max-width: 250px;
    }
  }

  .showcase {
    padding-top: 4vh;
  }

  .active-link {
    box-shadow: 0 0 20px yellowgreen;
  }
}
