<div class="showcase">
  <span class="demo__case__title"
    >Text code — required + pattern + uppercase</span
  >
  <ngx-pass-code
    [formField]="textForm"
    type="text"
    [length]="5"
    [uppercase]="true"
    [autofocus]="true"
  ></ngx-pass-code>

  <div class="showcase__values">
    <span>Current value: {{ textValue() | json }}</span>
    <span>Valid: {{ textForm().valid() }}</span>
    <span>Touched: {{ textForm().touched() }}</span>
  </div>

  <div class="showcase__actions">
    <button (click)="resetText()">Reset</button>
    <button (click)="textDisabled.set(!textDisabled())">
      {{ textDisabled() ? 'Enable' : 'Disable' }}
    </button>
    <button (click)="patchText()">Patch</button>
  </div>
</div>

<div class="showcase">
  <span class="showcase__title">Numbers code — required</span>
  <ngx-pass-code
    [formField]="numberForm"
    [length]="5"
    [autoblur]="true"
    type="number"
  ></ngx-pass-code>

  <div class="showcase__values">
    <span>Current value: {{ numberValue() | json }}</span>
    <span>Valid: {{ numberForm().valid() }}</span>
    <span>Touched: {{ numberForm().touched() }}</span>
  </div>

  <div class="showcase__actions">
    <button (click)="resetNumber()">Reset</button>
    <button (click)="numberDisabled.set(!numberDisabled())">
      {{ numberDisabled() ? 'Enable' : 'Disable' }}
    </button>
    <button (click)="patchNumber()">Patch</button>
  </div>
</div>

<div class="showcase">
  <span class="showcase__title">Password (hidden) code — required</span>

  <ngx-pass-code
    [formField]="passwordForm"
    [length]="7"
    type="password"
  ></ngx-pass-code>

  <div class="showcase__values">
    <span>Current value: {{ passwordValue() | json }}</span>
    <span>Valid: {{ passwordForm().valid() }}</span>
    <span>Touched: {{ passwordForm().touched() }}</span>
  </div>

  <div class="showcase__actions">
    <button (click)="resetPassword()">Reset</button>
    <button (click)="passwordDisabled.set(!passwordDisabled())">
      {{ passwordDisabled() ? 'Enable' : 'Disable' }}
    </button>
    <button (click)="patchPassword()">Patch</button>
  </div>
</div>
